body {
    background-color: #FFFFFF;
    font-family: Tahoma,sans-serif;
}

/* Debut Header */

header {
    border-bottom: #9B7BC2 solid 5px ;
}

.navbar {
    padding : 0px ;
}

.container-fluid {
    background-color: #5B2D8B; !important;
    color: #FFFFFF;
    margin: 0px;
}

.nav-item {
    color: #FFFFFF;
    margin-right: 25px;
}

.nav-link {
    color: #FFFFFF;
    padding: 30px;
    padding-top: 30px;
    font-size: 30px;
}

/* Fin Header */

/* Devut Footer */

.footer {
    background-color: #5B2D8B;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 5px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer p {
    margin: 10px 0 0 0;
}

/* Fin Footer */

.presentation {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Tahoma;
    font-size: 20px;
    text-align: justify;
    color: #3A3A3A;
    border-bottom: #9B7BC2 solid 5px;
    line-height: 35px;
}

.cards_presentation {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 15px;
    background-color: black;
    border-bottom: #9B7BC2 solid 5px;
}

.card {
    background-color: #5B2D8B;
    color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    max-width: 18rem;
    margin: 25px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.card img {
    max-height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn-card {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 15px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
}

.btn-card:hover {
    background-color: #222222;
    color: #FFFFFF;
}



