<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- NavBar/Menu de l'app
                    -Accueil
                    -Accés à tous les menus
                    -Connexion
                    -Contact
             -->
        </header>

        {% block body %}
        {% endblock %}

        <footer>
            <!-- Pied de page
                -Horaires
                -Mentions Légales
                -CGV
             -->
        </footer>

    </body>
</html>
